@font-face {
  font-family: 'Lato', sans-serif; 
  src: url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
}

body {
  background-color: #F2F2F2;
  font-family: 'Lato', sans-serif;
  margin: 0;
}

/* Header */

header {
  background-color: #4A90E2;
  padding: 15px 45px 15px 45px;
  color: #F2F2F2;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header img.logo {
  width: 35px;
  height: 35px;
  color: #F2F2F2;
  filter: invert(100%);
}

header a {
  font-size: 18px;
}

header a:link,
header a:active,
header a:visited
{
  color: #F2F2F2;
  font-weight: 400;
  text-decoration: none;  
}

header a span {
  vertical-align: middle;
}

header a .icon {
  margin-left: 10px;
  font-size: 22px;
  vertical-align: middle;
}

/* PostList */

.container {
  min-width: 350px;
  max-width: 950px;
  margin: 15px auto 0 auto;
  padding: 10px;
}

section.card {
  background-color: white;
  padding: 25px;
  margin-bottom: 25px;
  border-radius: 8px;
  box-shadow: 0 0 0.5em #33333338;
}

.profile {
  display: flex;
  align-items: center;
}

.profile img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.profile small {
  font-size: 12px;
  opacity: 0.6;
  font-weight: 100;
}

hr {
  opacity: 0.25;
  margin: 25px 0;
}

.comment {
  margin: 10px 0;
}

.comment span {
  background-color: #E7E7E7;
  padding: 15px;
  border-radius: 25px;
  font-size: 15px;
  line-height: 1.5em;
}

.comment .profile {
  align-items: flex-start;
}